body{
    font-family: Arial, sans-serif;
    background:#f4f6fb;
    margin:0;
}
header{
    background:#5839a0;
    color:#ededf0;
    padding:15px;
    text-align:center;
}
nav{
    background:#3f0e8d;
}
nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    margin:0;
    padding:10px;
}
nav ul li{ margin:0 15px; }
nav ul li a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}
.container{ padding:20px; }

/* Product Cards */
.products{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:20px;
}
.product-card{
    background:#fff;
    padding:15px;
    border-radius:8px;
    text-align:center;
    box-shadow:0 4px 8px rgba(16, 128, 161, 0.664);
}
.product-card img{
    width:100%;
    height:150px;
    object-fit:cover;
}
.product-card button{
    background:#5839a0;
    color:#ffffff;
    border:none;
    padding:8px 15px;
    cursor:pointer;
}

/* Tables */
table{
    width:100%;
    border-collapse:collapse;
}
th,td{
    padding:10px;
    border:1px solid #ccc;
    text-align:center;
}
th{ background:#5839a0; color:#fff; }

/* Login */
.login-box{
    max-width:350px;
    background:#a4a9eb;
    margin:60px auto;
    padding:25px;
    border-radius:8px;
}
.login-box input,button{
    width:100%;
    padding:8px;
    margin:10px 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;

    background-image: url(/data/websiteimage.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    background: rgba(219, 219, 219, 0.9);
    border-radius: 10px;
    padding:20px;
    margin:20px;
}
